@import "tailwindcss";
@source "../../**/*.{md,vue}";

:root {
  --vp-c-brand-1: oklch(76.9% 0.188 70.08);
  --vp-c-brand-2: oklch(82.8% 0.189 84.429);
  --vp-c-brand-3: oklch(76.9% 0.188 70.08);
}

.VPHero .image img {
  height: 350px;
  width: 350px;
}